/* You can add global styles to this file, and also import other style files */
.bloodpressure-island-headline {
    color: var(--tui-text-02);
}

.some-figure {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    background-color: var(--tui-secondary-active);
}
		
.axes {
    height: 300px;
    width: 100%;
    color: #bc71c9;
}
/* .axes {
    height: 200px;
    width: 400px;
} */

.chart {
    position: absolute;
    color: #ffb74c;
}
.chart:first-child {
    color: #bc71c9;
}
.chart:last-child {
    color: #4dc3f7;
}

.text-systole {
    color: #bc71c9;
}

.text-diastole {
    color: #ffb74c;
}

.text-pulse {
    color: #4dc3f7;
}

.bp-green-bg {
    background-color: rgb(45, 184, 27);
}

.bp-orange-bg {
    background-color: rgb(235, 195, 16);
}

.bp-red-bg {
    background-color: rgb(206, 43, 2);
}

.bp-default-bg {
    background-color: rgb(124, 124, 124);
}

.bp-indicator-bubble {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.d-flex {
    display: flex;
    align-content: space-between;
}

.flex-align-items-center {
    align-items: center;
}

.flex-justifiy-content-between {
    justify-content: space-between;
}

.m-0 {
    margin: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.p-2 {
    padding: 0.75rem;
}

.pl-2 {
    padding-left: 0.75rem;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pointer {
    cursor: pointer;
}


/** 
        medication plan
**/	
.number {
    text-align: right;
    flex-direction: row-reverse;
}
 
.first {
    min-width: 11.25rem;
}
 
.second {
    left: 11.375rem;
}

.border {
    border-left: none;
}
 
.select {
    width: 6.25rem;
}
 
.scrollbar {
    max-height: 18.75rem;
}